* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  position: relative;
  font-family: sans-serif;
}
.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
  .avatar-container {
    width: 50px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 50%;
    img.avatar-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-size: cover;
    }
  }
  .avatar-name {
    color: rgb(147, 147, 147);
  }
}

.comments-avatar {
  width: 50px;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
  }
}

.logo {
  color: #eee;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 655px) {
  .comments-avatar {
    width: 40px;
    height: 40px;
  }
}
