.home {
  background-color: #000;
  position: relative;
  .home-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      " left header right"
      "left posts right";
    gap: 5px;
  }
}

@media screen and (max-width: 1619px) {
  .home-content {
    display: block !important;
  }
}
